.parceiros {
  padding-top: 60px;
  padding-bottom: 120px;
}

.parceiros h2 {
  margin-bottom: 60px;
}
.parceiros ul {
  padding: 0px 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  max-width: 1400px;
  margin: 0 auto;
} /* Nesse caso não uso flex porque quero trabalhar com colunas, por isso o display: grid. */

.parceiros li {
  display: flex;
  padding: 32px;
  border-left: 2px solid var(--cor-2);
} /* Se eu falar que ele vai ser display flex, na imagem eu posso colocar margin-auto. E ela vai criar margem automática para cada lado, tanto para cima e para baixo também. Se aqui não for display flex ou display grid, no li, a imagem não consegue fazer um margin-auto para cima e para baixo.*/

.parceiros img {
  margin: auto;
} /* Margin auto para centralizar as imagens */

.parceiros li:first-child,
.parceiros li:nth-child(5) {
  border-left: none;
}

.parceiros li:nth-child(n + 5) {
  border-top: 2px solid var(--cor-2);
} /* n+5 para colocar as bordas no topo dos elementos a partir do 5*/

@media (max-width: 800px) {
  .parceiros {
    padding-bottom: 60px;
  }

  .parceiros h2 {
    margin-bottom: 20px;
  }

  .parceiros ul {
    grid-template-columns: repeat(2, 1fr);
  }

  .parceiros li {
    padding: 20px;
  }

  .parceiros li:nth-child(n + 3) {
    border-top: 2px solid var(--cor-2);
  } /* n+3 para colocar as bordas no topo dos elementos a partir do 3*/

  .parceiros li:nth-child(odd) {
    border-left: none;
  }
}
